# === Environment Variable, storing our sensitive API key, not pushed to version control, accessed in code using import.meta.env === #

// Replace the value below with our API key //
VITE_GOOGLE_MAPS_API_KEY=our_api_key

VITE_GOOGLE_MAPS_API_KEY=AIzaSyCJaxG9lUUMZ96b8UHCwQAoFxhavhgKA6g

/* Copy this file and rename it to .env */